Repository microsoft/jbpf-protobuf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, go-format

clang-format:
  name: clang-format
  entry: ./git-hooks/clang-format-pre-commit.sh
  language: system
  stages:
  - commit

go-format:
  name: go-format
  entry: ./git-hooks/go-format-pre-commit.sh
  language: system
  stages:
  - commit

Continued work
  git-hooks/go-format-pre-commit.sh
  pkg/Makefile
Due: none

Test
  pkg/data/server_options.go
Due: go-format

Bugfix for memory not being released in ipc example
  examples/first_example_ipc/example_collect_control.cpp
Due: clang-format

Revert
  CONTRIBUTING.md
  git-hooks/go-format-pre-commit.sh
  pkg/data/server_options.go
Due: go-format

Bugfix for memory not being released in ipc example (#7)
  examples/first_example_ipc/example_collect_control.cpp
Due: clang-format

Added simple cmake file
  CMakeLists.txt
Due: none

Added simple cmake file (#8)
  CMakeLists.txt
Due: none

Enable experimental jbpf features by default
  CMakeLists.txt
Due: none

Enable experimental jbpf features by default (#10)
  CMakeLists.txt
Due: none

Build jbpf_protobuf_cli as part of cmake
  .gitignore
  CMakeLists.txt
  deploy/Dockerfile
  deploy/mariner.Dockerfile
  deploy/ubuntu20.04.Dockerfile
  deploy/ubuntu22.04.Dockerfile
  pkg/CMakeLists.txt
  pkg/Makefile
  setup_jbpfp_env.sh
Due: none

Update example to work with containers
  README.md
  examples/first_example_ipc/Makefile
  examples/first_example_ipc/README.md
  examples/first_example_ipc/load.sh
  examples/first_example_ipc/run_app.sh
  examples/first_example_ipc/run_decoder.sh
  examples/first_example_ipc/send_input_msg.sh
  examples/first_example_ipc/unload.sh
  examples/first_example_standalone/Makefile
  examples/first_example_standalone/README.md
  examples/first_example_standalone/load.sh
  examples/first_example_standalone/run_app.sh
  examples/first_example_standalone/run_decoder.sh
  examples/first_example_standalone/send_input_msg.sh
  examples/first_example_standalone/unload.sh
  pkg/jbpf/client.go
  pkg/jbpf/options.go
Due: go-format

Stop building jbpf protobuf inside the dockerfile.
  CMakeLists.txt
  README.md
  deploy/README.md
  deploy/jbpf_protobuf_cli.Dockerfile
  deploy/mariner.Dockerfile
  deploy/ubuntu20_04.Dockerfile
  deploy/ubuntu22_04.Dockerfile
Due: none

Add a simple pipeline (ubuntu22.04) (#6)
  .github/workflows/ubuntu2204.yml
Due: none

Fix jbpf protobuf cli and simplify container set up
  README.md
  deploy/README.md
  deploy/azurelinux.Dockerfile
  deploy/entrypoint.sh
  deploy/jbpf_protobuf_cli.Dockerfile
  deploy/ubuntu20_04.Dockerfile
  deploy/ubuntu22_04.Dockerfile
  examples/first_example_ipc/README.md
  examples/first_example_standalone/README.md
Due: none

PR comment
  pkg/jbpf/client.go
  pkg/schema/client.go
Due: go-format

Build in all 3 supported OSs
  .github/workflows/ubuntu2204.yml
  .github/workflows/workflow.yaml
Due: none

Remove interactive flag
  .github/workflows/workflow.yaml
Due: none

Clang-format, Go Format check and commit-message hook (#5)
  .clang-format
  .pre-commit-config.yaml
  CONTRIBUTING.md
  examples/first_example_ipc/Makefile
  examples/first_example_ipc/example_app.cpp
  examples/first_example_ipc/example_codelet.c
  examples/first_example_ipc/example_collect_control.cpp
  examples/first_example_standalone/Makefile
  examples/first_example_standalone/example_app.cpp
  examples/first_example_standalone/example_codelet.c
  git-hooks/check-commit-message.sh
  git-hooks/clang-format-pre-commit.sh
  git-hooks/go-format-pre-commit.sh
  pkg/Makefile
Due: clang-format

Fix clang
  examples/first_example_ipc/example_collect_control.cpp
Due: clang-format

Update jbpf to latest and fix build (#12)
  examples/first_example_ipc/example_collect_control.cpp
Due: clang-format

Update variable name in cmake
  pkg/CMakeLists.txt
Due: none

Build jbpf_protobuf_cli as part of cmake (#11)
  .github/workflows/ubuntu2204.yml
  .github/workflows/workflow.yaml
  .gitignore
  CMakeLists.txt
  README.md
  deploy/Dockerfile
  deploy/README.md
  deploy/azurelinux.Dockerfile
  deploy/entrypoint.sh
  deploy/jbpf_protobuf_cli.Dockerfile
  deploy/ubuntu20_04.Dockerfile
  deploy/ubuntu22_04.Dockerfile
  examples/first_example_ipc/Makefile
  examples/first_example_ipc/README.md
  examples/first_example_ipc/load.sh
  examples/first_example_ipc/run_app.sh
  examples/first_example_ipc/run_decoder.sh
  examples/first_example_ipc/send_input_msg.sh
  examples/first_example_ipc/unload.sh
  examples/first_example_standalone/Makefile
  examples/first_example_standalone/README.md
  examples/first_example_standalone/load.sh
  examples/first_example_standalone/run_app.sh
  examples/first_example_standalone/run_decoder.sh
  examples/first_example_standalone/send_input_msg.sh
  examples/first_example_standalone/unload.sh
  pkg/CMakeLists.txt
  pkg/Makefile
  pkg/jbpf/client.go
  pkg/jbpf/options.go
  pkg/schema/client.go
  setup_jbpfp_env.sh
Due: go-format

Add INITIALIZE_SUBMODULES when building protobuf cli in Docker
  deploy/jbpf_protobuf_cli.Dockerfile
Due: none

Add workflow step to build image
  .github/workflows/workflow.yaml
Due: none

Add INITIALIZE_SUBMODULES when building protobuf cli in Docker (#14)
  .github/workflows/workflow.yaml
  deploy/jbpf_protobuf_cli.Dockerfile
Due: none

Remove ubuntu20 as EOL is May 2025
  .github/workflows/workflow.yaml
  deploy/README.md
  deploy/ubuntu20_04.Dockerfile
Due: none

Remove ubuntu20 as EOL is May 2025 (#15)
  .github/workflows/workflow.yaml
  deploy/README.md
  deploy/ubuntu20_04.Dockerfile
Due: none

Install all packages from distribution repo
  deploy/azurelinux.Dockerfile
  deploy/ubuntu22_04.Dockerfile
  pkg/go.mod
  pkg/go.sum
Due: none

Fixes for missing golang
  deploy/ubuntu22_04.Dockerfile
  pkg/go.mod
Due: none

Fixes to path
  deploy/ubuntu22_04.Dockerfile
Due: none

Fix issue with golangci-lint
  deploy/ubuntu22_04.Dockerfile
  pkg/go.sum
Due: none

Path conditions:
  clang-format: any of: \.(c|cpp|h|hpp)$
  go-format: any of: \.(go)$
